In [1]:
tuple_teachers = ("Alice", "Alexa", "Robert", "Bella")
tuple_teachers

('Alice', 'Alexa', 'Robert', 'Bella')

In [2]:
if "Alexa" in tuple_teachers:
    print("Alexa is a teacher")

Alexa is a teacher

In [3]:
student_score = {"Ayden":60,
                 "Gavin":85,
                 "Ian":76,
                 "Jose":70,
                 "Jane":82}
student_score

{'Ayden': 60, 'Gavin': 85, 'Ian': 76, 'Jose': 70, 'Jane': 82}

In [4]:
if "Ian" in student_score:
    print("Ian is in the student_score dictionary")

Ian is in the student_score dictionary

In [5]:
if "Jane" in student_score:
    print("Jane's Score:", student_score["Jane"])

Jane's Score: 82

In [6]:
if 10 < 15:
    print("10 is less than 15")

10 is less than 15

In [7]:
if 46 > 40 + 5:
    print("46 is greater than 45")

46 is greater than 45

In [8]:
# This code will give an indentation error
if 46 > 40:
    
print("46 is greater than 40")

IndentationError: expected an indented block after 'if' statement on line 2 (4225493916.py, line 4)

In [9]:
# Nothing gets printed because x is greater than y
x_value = 65
y_value = 25

if x_value < y_value:
    print("Value of x is less than value of y")

In [10]:
my_str = "Hello python world"
if "python" in my_str:
    print("Yes, 'python' is in my_str")

Yes, 'python' is in my_str

In [11]:
list_student = ["Ayden", "Gavin", "Ian", "Jose", "Jane"]
list_student

['Ayden', 'Gavin', 'Ian', 'Jose', 'Jane']

In [12]:
if "Jose" in list_student:
    print("Jose is a student")

Jose is a student