In [1]:
# If-Else statements --- an if statement can be combined
# with an else statement 

if 10 > 20:
    print("10 is greater than 20")
    print("If block activated")
else:
    print("10 is less than 20")
    print("Else block activated")

10 is less than 20
Else block activated

In [2]:
bike_price = 7160
bike_price

7160

In [3]:
if bike_price <= 8000:
    print("It is a cheap bike")
    print("If block activated")
else:
    print("It is an expensive bike")
    print("Else block activated")

It is a cheap bike
If block activated

In [5]:
# This code will throw an indentation error

bike_price = 9000

if bike_price <= 8000:
    print("It is a cheap bike")
    else:
    print("It is an expensive bike")

SyntaxError: invalid syntax (257956218.py, line 5)

In [6]:
# Correcting the indentation error

bike_price = 9000

if bike_price <= 8000:
    print("It is a cheap bike")
else:
    print("It is an expensive bike")

It is an expensive bike

In [8]:
# If-Else statement on one line (using turnary operator)
num = 50
print("num before experession:", num)

num = num - 20 if num > 20 else num + 20
print("num after expression:", num)

num before experession: 50
num after expression: 30

In [9]:
# Same code as the one above, just written differently

num = 50
print("num before expression:", num)

if num > 20:
    num = num - 20
else:
    num = num + 20
    
print("num after expression:", num)

num before expression: 50
num after expression: 30

In [11]:
# Turnary Operator
num = 100
print("num before expression:", num)

result = num / 5 if num < 50 else num * 5

print("number after expression", result)

num before expression: 100
number after expression 500

In [12]:
if 15 > 20:
    print("15 is greater than 20")
    print("If block activated")
elif 15 < 20:
    print("15 is less than 20")
    print("Elif block activated")
else:
    print("Both are equal")
    print("Else block activated")

15 is less than 20
Elif block activated

In [13]:
a = 45
b = 45

if b > a:
    print("B is greater than A")
    print("If block activated")
elif a == b:
    print("a and b are equal")
    print("Elif block activated")
else:
    print("a is greater than b")
    print("Else block activated")

a and b are equal
Elif block activated