In [1]:
fruit_list = ["apple",
              "orange",
              "grape",
              "banana",
              "avocado"]
fruit_list

['apple', 'orange', 'grape', 'banana', 'avocado']

In [2]:
# IN --- allows you to check if something is in a str
# or list
if "grape" in fruit_list:
    print("'grape' is in the list")
else:
    print("'grape' is not in the list")

'grape' is in the list

In [3]:
if "strawberry" in fruit_list:
    print("'strawberry' is in fruit_list")
elif "orange" in fruit_list:
    print("'orange' is in fruit_list")
else:
    print("Both 'strawberry' and 'orange' are not in fruit_list")

'orange' is in fruit_list

In [4]:
# check if an element is in fruit_list using index
if fruit_list[1] == "orange":
    print("True")
else:
    print("False")

True

In [5]:
# replace avocado in fruit_list at [4]
if fruit_list[4] == "avocado":
    print("'avocado' is at the 4th index")
    print("Replacing 'avocado' with 'strawberry' at 4th index")
    
    fruit_list[4] = "strawberry"
    print(fruit_list)
    
else:
    print("'avocado' is not at the 4th index")

'avocado' is at the 4th index
Replacing 'avocado' with 'strawberry' at 4th index
['apple', 'orange', 'grape', 'banana', 'strawberry']

In [7]:
car_tuple = ("Toyota Camry",
             "Honda Accord",
             "Honda Civic",
             "Toyota Corolla")
print(car_tuple)
print(type(car_tuple))

('Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla')
<class 'tuple'>

In [8]:
if "Honda Accord" in car_tuple:
    print("'Honda Accord' is in car_tuple")
else:
    print("'Honda Accord' is not present in car_tuple")

'Honda Accord' is in car_tuple

In [9]:
if "Ducati Monster" in car_tuple:
    print("'Ducati Monster' is a car")
    
else:
    print("'Ducati Monster' is not a car")

'Ducati Monster' is not a car

In [10]:
# checking more than one element of tuple/list/str/int etc
# is possible using AND
if "Ducati Monster" in car_tuple and "Honda Accord" in car_tuple:
    print("'Ducati Monster' and 'Honda Accord' are both cars")
    
else:
    print("At least one of 'Ducati Monster' and 'Honda Accord' is not a car")

At least one of 'Ducati Monster' and 'Honda Accord' is not a car

In [11]:
# checking if at least one of x elements is in car_tuple
# using OR
if "Ducati Monster" or "Honda Accord" in car_tuple:
    print("At least one of 'Ducati Monster' and 'Honda Accord' is a car")
else:
    print("Neither 'Ducati Monster' nor 'Honda Accord' is a car")

At least one of 'Ducati Monster' and 'Honda Accord' is a car

In [12]:
# dict of salaries
salary_details = {
    "Lisa":25000,
    "Jason":45000,
    "Cooper":35000,
    "Elias":23000,
    "Jordan":77000
}

salary_details

{'Lisa': 25000,
 'Jason': 45000,
 'Cooper': 35000,
 'Elias': 23000,
 'Jordan': 77000}

In [13]:
if "Lisa" in salary_details:
    print("We have details for Lisa")
else:
    print("We don't have details for Lisa")

We have details for Lisa

In [14]:
if "Ruby" in salary_details:
    print("We have details for Ruby")
else:
    print("We don't have details for Ruby")

We don't have details for Ruby

In [15]:
# check if value(s) exist in dict and if not update dict
if "Cora" in salary_details:
    print("We have details for Cora")
else:
    salary_details["Cora"] = 31000
    print("Cora's annual income is %s"%salary_details["Cora"])

Cora's annual income is 31000

In [16]:
salary_details

{'Lisa': 25000,
 'Jason': 45000,
 'Cooper': 35000,
 'Elias': 23000,
 'Jordan': 77000,
 'Cora': 31000}

In [18]:
age_details = {"Lisa":25,
              "Jason":30,
              "Cooper":29,
              "Sarah":22}
age_details

{'Lisa': 25, 'Jason': 30, 'Cooper': 29, 'Sarah': 22}

In [19]:
if age_details["Lisa"] < age_details["Jason"]:
    print("Jason is older than Lisa")
    
    if age_details["Jason"] > age_details["Cooper"]:
        print("Jason is older than Cooper")
        
        if age_details["Cooper"] < age_details["Sarah"]:
            print("Cooper is younger than Sarah")
        
        elif age_details["Cooper"] > age_details["Sarah"]:
            print("Jason is the oldest person in the dictionary")
            
else:
    print("Jason is not the oldest person in the dictionary")

Jason is older than Lisa
Jason is older than Cooper
Jason is the oldest person in the dictionary

In [20]:
# Nested lists --- Lists within Lists
details = [["Jane", "Amanda", "Emma"],
          [35, 40, 50],
          [20000, 50000, 40000]]

print(details)

[['Jane', 'Amanda', 'Emma'], [35, 40, 50], [20000, 50000, 40000]]

In [21]:
max_sal = max(details[2])

if (details[2][1] == max_sal):
    
    if (details[1][1] > 30):
        print(details[0][1], "has the highest salary and her age is greater than 30")
        
    elif (details[1][1] == 30):
        print(details[0][1], "has the highest salary and she is 30 years old")
        
    else:
        print("Amanda has the highest salary and her age is less than 30")

else:
    print("Amanda is not the highest paid employee")

Amanda has the highest salary and her age is greater than 30