# The following is an empty list

In [1]:
empty_list = []
empty_list

[]

- A list is created using square brackets ([]) and it is ordered. Values are separated using commas (,)

- Elements in a list can be of any data type

In [2]:
list_str = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]
list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [3]:
list_int = [5, 7, 8, 9, 20, 40]
list_int

[5, 7, 8, 9, 20, 40]

In [4]:
list_float = [5.5, 7.8, 8.5, 9.2, 20.3, 40.6]
list_float

[5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

In [5]:
list_bool = [True, False]
list_bool

[True, False]

- Lists can contain duplicates
- Order is important

In [6]:
mixed_list = ["Nissan Sentra", 1, 2.5, True]
mixed_list

['Nissan Sentra', 1, 2.5, True]

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [8]:
print(cars_list[0])
print(cars_list[1])
print(cars_list[2])
print(cars_list[3])

Toyota Camry
Honda Accord
Honda Civic
Toyota Corolla

In [9]:
# Negative indexing
print(cars_list[-1])
print(cars_list[-2])

Toyota Corolla
Honda Civic

In [10]:
# Strings with lists
print("Car at index 0 is:", cars_list[0])
print("Car at index 1 is:", cars_list[1])
print("Car at index 2 is:", cars_list[2])
print("Car at index 3 is:", cars_list[3])

Car at index 0 is: Toyota Camry
Car at index 1 is: Honda Accord
Car at index 2 is: Honda Civic
Car at index 3 is: Toyota Corolla

In [11]:
# prints the amount of elements per list
print(len(cars_list))

4

In [12]:
# prints error because you cannot access 2 elements at the same time
print(cars_list[1, 2])

TypeError: list indices must be integers or slices, not tuple

- Negative indexing can be used to access elements within a list

In [13]:
cars_list[3] = "Nissan Sentra"
print("The car at index 3 is", cars_list[3])
cars_list

The car at index 3 is Nissan Sentra

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Sentra']